h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15pt;
  color: #ffff;
  text-align: center;

}

.wrapper {
  padding-top: 10px;
  max-width: 300px;
 
  margin: 0 auto;
  background-color: rgb(60, 43, 209);
  border-radius: 5px;
  padding-bottom: 10px;
}

.to-do-list{
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}


.to-do-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffff;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #ffff;

}


.main-form{
  display: flex;
  border: 3px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: space-evenly;
  
}

.form-input{
  display: inline-block;
    max-width: 50%;
  }

 .checked{
   color:red;
   text-decoration: line-through;
 }

 /* spinner */

 .loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: purple;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
